.warning-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  background-color: rgba(0,0,0,0.25);
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.warning-block {
  background-color: #fff;
  border: solid 0.5px rgba(0,0,0,0.5);
  border-radius: 0.25rem;
  width: 50vh;
  height: 30vh;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
