.tone-analysis-view {
  margin: 2.5rem 0;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.back {
  padding: 0.5rem 1rem;
  border: solid o.5px rgba(0,0,0,0.25);
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  left: 5rem;
  cursor: pointer;
}

.email-content-wrapper {
  border: solid 0.5px rgba(0,0,0,0.25);
  border-radius: 0.25rem;
  width: 40rem;
  padding: 0 5rem;
  margin: 2.5rem 0;
}

canvas {
  margin: 2.5rem 0;
}

.email-tagline-wrapper,
.email-cta-wrapper {
  border: solid 0.5px rgba(0,0,0,0.25);
  border-radius: 0.25rem;
  width: 50rem;
}
