.tone-analysis-view {
  margin: 2.5rem 0;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back {
  padding: 0.5rem 1rem;
  border: solid 0.5px rgba(0,0,0,0.25);
  border-radius: 0.25rem;
  position: fixed;
  top: 2.5rem;
  left: 2.5rem;
  cursor: pointer;
}

.email-content-wrapper {
  border: solid 1px rgba(0,0,0,0.25);
  border-radius: 2.5px;
  padding: 2.5rem;
  margin: 2.5rem 0;
}

canvas {
  margin: 2.5rem 0;
}

.email-tagline-wrapper,
.email-cta-wrapper {
  border: solid 1px rgba(0,0,0,0.25);
  border-radius: 2.5px;
  padding: 0 2.5rem;
}
